<form action="/dashboard/change-password" method="post">
    <input type="password" name="currentPassword" placeholder="رمز فعلی" required>
    <input type="password" name="newPassword" placeholder="رمز جدید" required>
    <input type="password" name="confirmPassword" placeholder="تکرار رمز جدید" required>
    <button type="submit">تغییر رمز</button>

</form>